* {
    box-sizing: border-box;
    font-family: 'Secular One', sans-serif
}

body {
    background-color:cadetblue;
}

h1{
    text-align: center;
    color:white;
}

h4 {
    color: white;
}

a {
    text-decoration: none;
    color: black;
}


input {
    width: 70%;
    padding: 10px 0;
    border-radius: 6px;
    transition: box-shadow 100ms ease-in, border 100ms ease-in, 
    background-color 100ms ease-in;
    height: 36px;
    outline: none;
}

.main {
    text-align: center;
    width: 500px;
    height: 500px;
    border-radius: 10% ;
    margin: auto;
}

.create {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    border-radius: 7%;
    background: rgb(34,195,166);
    background: linear-gradient(0deg, rgba(34,195,166,1) 0%, 
    rgba(28,123,209,1) 100%);

    /*box-shadow*/
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: all .5s;

}

.input {
    width: 100%;
}

.items {
    width: 80%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
}

.signup {
    padding: 10px 5px;
}

.span {
    display: flex;
    justify-content: center;
    align-items: center;
}

.items > .input {
    padding: 10px 5px;
} 

.input > .input-field {
    width: 100%;
}

.span::before, .span::after {
    display: flex;
    content: "";
    border-top: 1px solid black;
    width: 7rem;
    margin: 0 0.5rem;
    justify-content: center;
    align-items: center;
}

.btn-signup {
  background-color: cadetblue;
  color: black;
  border-radius: 16px;
  cursor: pointer;
  font-size: 18px;
  padding: 10px 20px;
  text-decoration: none;
  transition: all .5s;
  width: 70%;
  border: none;
}


.btn-signup:hover {
    color: orange;
    transition: 300ms;
}

.btn-sign-span {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 15px;
}


.btn-span > button {
    text-align: center;
    background-color: cadetblue;
    color: black;
    border-radius: 16px;
    cursor: pointer;
    font-size: 18px;
    padding: 10px 20px;
    text-decoration: none;
    transition: all .5s;

    border: none;
    display: inline-block;
    justify-content: space-evenly;
    align-items: center;
}

.btn-span > button:hover {
    color: orange;
    transition: 300ms;
}

button > img, button > span {
    vertical-align: middle;
}

.have-acc a:hover {
    color: orange;
    transition: 300ms;
}

.footer {
    text-align: center;
}

.ftr-span > a, .ftr-span > img {
    vertical-align: middle;
}

.ftr-span > img:hover {
    transition: 200ms;
    transform: rotate(360deg) scale(1.2);
    cursor: pointer;
}

.ftr-span > img {
    transition: 200ms;
    transform: rotate(-360deg) scale(1);
    cursor: pointer;
}